*{
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}
h1{
    size: 24px;
    color: #242424;
    width: 900;
}
h2{
    size: 20px;
    color: #606060;
    width: 800;
}
p{
    size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}
li{
    padding: 10px;
}
ul{
    font-family: monospace;
    font-size: 18px;
    margin-left: 100px;
    padding: 20px;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    width: 40%;
    list-style: none;
}
a{
    color: orange;
    font: weight 200px;
}

#prov{
    color: green ;
}

#as{
    color: green !important;
}

li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
